body{
	background: #C0C0C0;
}
#box{
	width: 100%;
	text-align: center;
}
a{
	display: inline-block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #F06000;
	background: #F0E68C;
}
ul{
	width: 1208px;
}
li{
	margin: 0 1px;
	float: left;
	padding: 10px;
}

p{
	width: 280px;
	height: 40px;
	line-height: 40px;
	background: #C6422D;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}
