section{
	width: 280px;
	padding: 10px;
	height: 380px;
	background: #dee7e7;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.title{
	height: 37px;
}
h3{
	width: 171px;
	height: 37px;
	line-height: 37px;
	border-bottom: 1px solid #94bdd6;
}
.day{
	float: left;
	width: 35px;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	margin-top: 12px;
	color: #185273;
	border-bottom: 1px solid #94bdd6;
	border-left: 1px solid #94bdd6;
	border-top: 1px solid #94bdd6;
}
#all{
		width: 35px;
		height: 24px;
		border-right: 1px solid #94bdd6;
}
.day:hover{
	border-bottom: none;
	color: red;
}
ul{
	height: 358px;
}
#list li{
	width: 100%;
	line-height: 27px;
	height: 27px;
	font-size: 14px;
	border-bottom: 1px dotted white;
	position: relative;
	/*background: url(img/1.jpg) no-repeat 0 8px;*/
}
#list li>p{
	margin-left: 20px;
}
 .a{
 	float: right;
	width: 40px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	background: #003399;
	color: #fff;
}
.clearFix:after{
	content: "";
	clear: both;
	display: block;
}
span{
	margin-top: 20px;
	margin-right: 20px;
	float: right;
}
#list div{
	display: none;
}
.img{
	margin-top: 10px;
	float: left;
	margin-left: 20px;
	margin-right: 20px;
}
#list .play>p{
	width: 150px;
	line-height: 30px;
	float: right;
}
#list .play1{
	width: 40px;
	height: 30px;
	margin-top: 20px;
	text-align: center;
	line-height: 30px;
	background: #29739c;
	color: #fff;
	float: right;
}
#list .show{
	display: block;
}
#list .hidden{
	display: none;
}
